@model WitcherKendoEFDemo.Models.BigCharacterWeaponModel

@{
    ViewData["Title"] = "Battle";
}

<h1>Battle!</h1>
<div>
    <form method="post" asp-route="BattleSubmit">
        <kendo-dropdownlist name="ddlCharacters1" datatextfield="Name" datavaluefield="CharacterID">
            <datasource>
                <transport>
                    <read url="@Url.Action("Characters_Read", "Characters")" />
                </transport>
            </datasource>
        </kendo-dropdownlist>
        <kendo-dropdownlist name="ddlCharacters2" datatextfield="Name" datavaluefield="CharacterID">
            <datasource>
                <transport>
                    <read url="@Url.Action("Characters_Read", "Characters")" />
                </transport>
            </datasource>
        </kendo-dropdownlist>
        <button id="btnSubmit" class="k-button k-primary">Who will win?</button>
    </form>
</div>

<ul>
    @foreach (var item in Model.Characters)
    {
        <li>
            @item.Name
        </li>
        <li>
            @item.Weapon.Name
        </li>
    }
</ul>

<script>
</script>
