@model IEnumerable<WitcherKendoEFDemo.Models.Character>

@{
    ViewData["Title"] = "Battle";
}

<h1>Battle!</h1>
<div>
    @using (@Html.BeginForm("Action", "Battle", FormMethod.Post))
    {
        @(Html.Kendo()
        .DropDownList()
        .Name("ddlCharacters")
        .DataTextField("Name")
        .DataValueField("CharacterID")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("Characters_Read", "Characters");
            });
        }))
        @(Html.Kendo()
            .DropDownList()
            .Name("ddlCharacters2")
            .DataTextField("Name")
            .DataValueField("CharacterID")
            .DataSource(source =>
                    {
                source.Read(read =>
                        {
                    read.Action("Characters_Read", "Characters");
                });
            })
        )
        @Html.Kendo().Button().Name("btn_SubmitBattle").Content("Submit");
        <script>
            $("#btn_SubmitBattle").click(function (e) {
                console.log(e);
                e.preventDefault();
                alert("yes");
            });
        </script>
    }

</div>
<script>
    $(function () {
        //Notice that the Name() of the DropDownList is used to get its client-side instance.
        var dropdownlist = $("#ddlCharacters").data("kendoDropDownList");
        var button = $("#btn_SubmitBattle").data("kendoButton");
        console.log(dropdownlist);
        console.log(button);
        $("#ddlCharacters").change(function (e) {
            console.log(e.target.value);
        });
    });
</script>